/* 

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

font-family: 'Kumbh Sans', sans-serif;
- Weights: 400, 700 */
body {
  background: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p {
  margin: 0;
}
.container {
  margin: 5% auto 3% auto;
  padding: 0;
  max-width: 900px;
  height: 500px;
  background-color: white;
  border: 0 solid;
  border-radius: 25px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.image {
  flex: 1.2;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-size: 230%;
  background-position-y: -280px;
  position: relative;
  background-position-x: right;
}
.background-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.illustration-woman {
  position: absolute;
  height: 75%;
  top: 46%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.illustration-box {
  position: absolute;
  z-index: 2;
  top: 189px;
  right: 311px;
  height: 35%;
}
.faq {
  padding: 60px 80px;
  flex: 1;
}
.faq h1 {
  font-weight: 700;
}
.artikel {
  border-bottom: 2px solid hsl(240, 5%, 91%);
}
.q-line:hover {
  cursor: pointer;
}
.q-line:active {
  color: hsl(14, 88%, 65%);
  transition: transform 0.9s ease;
}
.icon-arrow-down {
  height: 100%;
  transition: transform 0.5s ease;
}
.toggle-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
  /* transition: max-height 0.3s ease; */
}
.bold {
  font-weight: 700;
}
.open {
  max-height: 100px; /* Высота текста при открытии */
  transition: max-height 0.1s ease;
  /* transition: max-height 0.9s ease; */
}
.opening {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
.closing {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
.hidden {
  display: none;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 30% auto 10% auto;
    width: 328px;
  }
  .image {
    background-image: url(/images/bg-pattern-mobile.svg);
    background-size: 75%;
    background-position: top;
    background-repeat: no-repeat;
  }
  .background-image {
    position: relative;
    overflow: visible;
  }
  .illustration-woman {
    height: 125%;
    top: -11%;
    left: 50%;
  }
  .illustration-box {
    top: -42px;
    right: 192px;
    height: 65%;
  }
  .faq {
    padding: 0 30px 50px 30px;
  }
  .faq h1 {
    text-align: center;
  }
}
